/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  /*padding-top: 3.5rem;*/
  padding: 7px;
  margin: 10;
  /*background-image: url(tolstoytoshow.png);*/
}

.jumbotron {background-image: url(dhlogo.png); background-size:5%; background-repeat:no-repeat; background-position:right top;}

.issues {align:center;}


p {font-size:150%;
   padding: 5px;
  }

 /*ul {font-size:150%;}*/

li {font-size:150%;}
/*
background-image: url(tolstoytoshow.png);
background-size:60%;

background-image: url(tolstoytoshow.png);
background-size:60%;
background-position:right top;
background-repeat:no-repeat;} */


.btn-info {position:relative;right:10px;}
